{% extends 'base.html' %}
{% block content %}
<div class="signup-form">
    <h2>Inscription</h2>
    {% if form.errors %}
        <div class="error-message">{{ form.errors }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-field">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-field">
            {{ form.password1.label_tag }} {{ form.password1 }}
        </div>
        <div class="form-field">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>
        <div class="password-help">
            <ul>
                <li>Minimum 8 caractères</li>
                <li>Minimum une majuscule, une minuscule, un chiffre, un caractère spécial</li>
                <li>Ne pas ressembler à vos informations personnelles</li>
                <li>Ne pas être un mot de passe couramment utilisé</li>
            </ul>
        </div>
        <button type="submit" class="btn btn-success">S'inscrire</button>
    </form>
</div>
{% endblock content %}
