{% extends 'base.html' %}
{% block content %}
    <h2>Créer une critique pour le ticket : {{ ticket.title }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-section">
            <h3>Critique</h3>
            <div class="form-field">
                <label for="id_headline">Titre</label>
                {{ form.headline }}
            </div>
            <div class="form-field">
                <label for="id_body">Commentaires</label>
                {{ form.body }}
            </div>
            <div class="form-field">
                <label for="id_rating">Note</label>
                <select id="id_rating" name="rating" class="rating">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Annuler</a>
    </form>
{% endblock content %}
