{% extends 'base.html' %}
{% block content %}
    <h2>Créer un ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-section">
            <h3>Ticket</h3>
            <div class="form-field">
                <label for="id_title">Titre</label>
                {{ form.title }}
            </div>
            <div class="form-field">
                <label for="id_description">Description</label>
                {{ form.description }}
            </div>
            <div class="form-field">
                <label for="id_image">Image</label>
                {{ form.image }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Annuler</a>
    </form>
{% endblock content %}
