{% extends 'base.html' %}
{% block content %}

{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <h2>Suivre des utilisateurs</h2>
    <form method="post" class="follow-user-form">
        {% csrf_token %}
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <span class="error-message">{{ form.username.errors.0 }}</span>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-success">Suivre</button>
    </form>

    <div>
        <h2>Utilisateurs suivis</h2>
        {% for follow in followed_users %}
            <div class="follow-item">
                <span class="username">{{ follow.followed_user.username }}</span>
                <form method="post" action="{% url 'unfollow_user' follow.followed_user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Ne plus suivre</button>
                </form>
                <form method="post" action="{% url 'block_user' follow.followed_user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Bloquer</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <h2>Utilisateurs qui vous suivent</h2>
        {% for follower in followers %}
            <div class="follow-item">
                <span class="username">{{ follower.user.username }}</span>
            </div>
        {% endfor %}

    <h2>Utilisateurs bloqués</h2>
    {% for block in blocked_users %}
        <div class="follow-item">
            <span class="username">{{ block.followed_user.username }}</span>
            <a href="{% url 'unblock_user' block.followed_user.username %}">Débloquer</a>
        </div>
    {% endfor %}

{% endblock content %}
