{% extends 'base.html' %}
{% block content %}

{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <h2>Suivre des utilisateurs</h2>
    <form method="post" class="follow-user-form">
        {% csrf_token %}
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <span class="error-message">{{ form.username.errors.0 }}</span>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-success">Suivre</button>
    </form>

    <div>
    <h2>Abonnements</h2>
    {% for follow in followed_users %}
        <div class="follow-user-form">
            <span class="username">{{ follow.followed_user.username }}</span>
            <form method="post" action="{% url 'unfollow_user' follow.followed_user.username %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Ne plus suivre</button>
            </form>
        </div>
    {% endfor %}
    </div>

    <h2>Abonné.es</h2>
    {% for follower in followers %}
        <div class="follow-user-form">
            <span class="username">{{ follower.user.username }}</span>
            <form method="post" action="{% url 'block_user' follower.user.username %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Bloquer</button>
            </form>
        </div>
    {% endfor %}

    <h2>Utilisateurs bloqués</h2>
    {% for block in blocked_users %}
        <div class="follow-user-form">
            <span class="username">{{ block.followed_user.username }}</span>
            <a href="{% url 'unblock_user' block.followed_user.username %}" class="btn btn-success">Débloquer</a>
        </div>
    {% endfor %}

{% endblock content %}