{% extends 'base.html' %}
{% block content %}
    <h2>Mes Billets</h2>
    {% for ticket in tickets %}
        <div class="post-container">
            <h3>Titre : {{ ticket.title }}</h3>
            <p><strong>Description</strong> : <br>{{ ticket.description }}</p>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
            {% endif %}
            <div class="ticket-actions">
                <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-edit">Modifier</a>
                <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-delete">Supprimer</a>
            </div>
            <small>Créé le {{ ticket.time_created }}</small>
        </div>
    {% empty %}
        <p>Vous n'avez pas encore créé de billets.</p>
    {% endfor %}
{% endblock %}